## 调用常用包和定义常用函数

In [25]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt

from sklearn.naive_bayes import BernoulliNB
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

#将catogorical的feature转换成numerical
def encode_text_dummy(df, name):
    dummies = pd.get_dummies(df[name])
    for x in dummies.columns:
        dummy_name = "{}-{}".format(name, x)
        df[dummy_name] = dummies[x]
    df.drop(name, axis=1, inplace=True)

def encode_text_index(df, name):
    le = preprocessing.LabelEncoder()
    df[name] = le.fit_transform(df[name])
    return le.classes_    


#把月份转换成季节
def season(i):
    if i in [3,4,5]:
        return "春"
    if i in [6,7,8]:
        return "夏"
    if i in [9,10,11]:
        return "秋"
    if i in [12,1,2]:
        return "冬"
    return np.nan

#定义了我们所沿用的损失函数
def loss_function(y_pred,y_test,d):
    loss = []
    for i in range(d):
        error = abs(y_pred[:,i]-y_test[:,i])
        scaled = (error/y_pred[:,i])*100
        score = scaled.mean()
        print(score) #舍弃周次的encode
        loss.append(score)
        
%matplotlib inline

In [26]:
import os
ls = os.listdir("1_22中类销售/")

In [183]:
wasd= ['棉衣', '皮鞋']#这两个的字段名称不一样

In [154]:
ls

['拖鞋销售.csv',
 '大衣销售.csv',
 'T恤销售.csv',
 '运动鞋销售.csv',
 '卫衣销售.csv',
 '皮衣销售.csv',
 '服饰配件销售.csv',
 '休闲鞋销售.csv',
 '半裙销售.csv',
 '夹克销售.csv',
 '风衣销售.csv',
 '礼品销售.csv',
 '板鞋销售.csv',
 '棉衣销售.csv',
 '羽绒服销售.csv',
 '衬衫销售.csv',
 '皮鞋销售.csv',
 '靴子销售.csv',
 '线衣销售.csv',
 '牛仔裤销售.csv',
 '裤装销售.csv',
 '连衣裙销售.csv']

In [230]:
df0 = pd.DataFrame()
for file in ls:
    if not (file.split("销售")[0] in wasd):
        df = pd.read_csv("1_22中类销售/"+file,encoding ="gbk")
        df0 = pd.concat([df0,df])

In [231]:
df0.columns

Index(['分公司', '店铺名称', '中类', '小类', '货号', '货品名称', '尺码', '商品年份', '季节', '波段',
       '首销日', '第1周销量', '第1周销额', '第2周销量', '第2周销额', '第3周销量', '第3周销额', '第4周销量',
       '第4周销额', '第5周销量', '第5周销额', '第6周销量', '第6周销额', '第7周销量', '第7周销额', '第8周销量',
       '第8周销额', '第9周销量', '第9周销额', '第10周销量', '第10周销额', '第11周销量', '第11周销额',
       '第12周销量', '第12周销额'],
      dtype='object')

****

In [181]:
df0[df0["f1"].notna()]["matname"].value_counts()

男鞋    2101
Name: matname, dtype: int64

In [169]:
wasd = df0[df0["f1"].notna()]["matname"].value_counts().index

In [160]:
df0.loc[df0['分公司'].isnull(),'分公司']=df0[df0['分公司'].isnull()]["MidCategoryName"]

In [161]:
df0["分公司"].isna().value_counts()

False    7706778
Name: 分公司, dtype: int64

In [162]:
df0.loc[df0['商品年份'].isnull(),'商品年份']=df0[df0['商品年份'].isnull()]["YearNo"]
df0["商品年份"].isna().value_counts()

False    7706778
Name: 商品年份, dtype: int64

In [163]:
df0.loc[df0['季节'].isnull(),'季节']=df0[df0['季节'].isnull()]["SeasonName"]
df0["季节"].isna().value_counts()

False    7706778
Name: 季节, dtype: int64

In [164]:
df0.loc[df0['店铺名称'].isnull(),'店铺名称']=df0[df0['店铺名称'].isnull()]["shopname"]
df0["店铺名称"].isna().value_counts()

False    7706778
Name: 店铺名称, dtype: int64

***

In [232]:
df0.商品年份.value_counts()

2017    2551586
2018    2161026
2016    2056127
2019     507820
2015     145330
Name: 商品年份, dtype: int64

In [187]:
df0["货号"].value_counts().size

13545

In [188]:
df0.波段.value_counts()

第1波段     1351488
第3波段      914094
第2波段      908259
第一波段      801214
第二波段      675774
第三波段      645720
第5波段      372930
第4波段      343078
第四波段      279059
第五波段      234650
第6波段      166973
第7波段       93994
第六波段       84941
第10波段      70241
第9波段       68330
第8波段       66680
第七波段       45072
第二十九周      27333
第十二周       23634
第十七周       21311
第八周        20924
第四十周       20068
第一周        20049
第二十周       15592
第三周        14381
第四十四周      13741
第四十六周      11062
第三十七周      10588
第十三周       10381
第九周         9826
          ...
第七周         7316
第三十九周       7312
第五周         6519
第二十三周       6179
第四十九周       5497
第六周         4766
第四十二周       4349
第十一周        2964
第十周         2516
第四十八周       2482
第五十二周       2470
第四十五周       2071
第二十一周       2024
第五十周        1701
第十八周        1673
第八波段        1528
第四周         1483
第四十七周       1430
第三十三周       1234
第三十四周       1145
第五十一周       1018
第三十二周        881
第十九周         753
第二十二周        599
第三十八周        559
第二十五周        359
第十六周         309
第二十四周        215
第三十六周        134
第二十六周          1
Name: 波段, Length: 61, dtype: int64

In [189]:
df0.分公司.value_counts()

华北分公司     1597178
华南分公司     1452792
华中2分公司    1426065
华中1分公司    1309946
西南分公司      854272
西北分公司      771731
总部           9905
Name: 分公司, dtype: int64

In [102]:
def sub(string):
    string = string.replace("10","十")
    string = string.replace("1","一")
    string = string.replace("2","二")
    string = string.replace("3","三")
    string = string.replace("4","四")
    string = string.replace("5","五")
    string = string.replace("6","六")
    string = string.replace("7","七")
    string = string.replace("8","八")
    string = string.replace("9","九")
    return string
#df0 = df0[df0["波段"].apply(lambda x : "波段" in x)]
#df0["波段"]=df0["波段"].apply(sub)

In [233]:
df0["首销月"]= pd.to_datetime(df0["首销日"]).apply(lambda x:x.strftime("%m")).astype("int")

In [234]:
df0["首销季节"] = df0["首销月"].apply(season)

In [235]:
df0["首销年"]= pd.to_datetime(df0["首销日"]).apply(lambda x:x.strftime("%y")).astype("int")

In [193]:
df0["首销年"].value_counts()

17    2527390
18    2311151
16    1758787
19     727164
15      97397
Name: 首销年, dtype: int64

In [194]:
df0.head()

,分公司,店铺名称,中类,小类,货号,货品名称,尺码,商品年份,季节,波段,...,第9周销额,第10周销量,第10周销额,第11周销量,第11周销额,第12周销量,第12周销额,首销月,首销季节,首销年
0,华中1分公司,武汉解放路店,拖鞋,软木拖,2X811001W0,男鞋,39,2017,夏,第一波段,...,NaN,1.0,69.0,1.0,69.0,NaN,NaN,4,春,17
1,华南分公司,广州龙洞步行街店,拖鞋,夹脚拖,M2X1201514B0,男鞋,41,2018,夏,第十二周,...,9.9,NaN,NaN,1.0,9.9,NaN,NaN,4,春,18
2,华中1分公司,衡阳鑫都国际广场店,拖鞋,软木拖,M2X1201594W0,男鞋,43,2018,夏,第十七周,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,夏,18
3,华南分公司,广州西城都荟店中店,拖鞋,软木拖,2X1B3002W0,男鞋,42,2017,夏,第三波段,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,春,17
4,华中1分公司,衡阳鑫都国际广场店,拖鞋,软木拖,M2X1201593L0,男鞋,42,2018,夏,第十七周,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,秋,18

## 训练模型

In [236]:
def train_predict(x,y):
    lr = LinearRegression()
    lr.fit(x,y)
    return(lr.predict(19))

In [237]:
train_predict([[16],[17],[18]],[16,17,18])

array([19.])

In [238]:
df0["销量"] = 0
df0["销额"] = 0
df0.fillna(0,inplace=True)
for i in range(12):
    df0["销量"]+=df0["第"+str(i+1)+"周销量"]
    df0.drop("第"+str(i+1)+"周销量",axis=1,inplace = True)
    df0["销额"]+= df0["第"+str(i+1)+"周销额"]
    df0.drop("第"+str(i+1)+"周销额",axis=1,inplace = True)

In [239]:
encode_text_dummy(df0,"商品年份")

In [240]:
for i in [2015,2016,2017,2018,2019]:
    df0["商品年份-"+str(i)+"-销量"] = df0["商品年份-"+str(i)]* df0["销量"]
    df0["商品年份-"+str(i)+"-销额"] = df0["商品年份-"+str(i)]* df0["销额"]

In [241]:
df0.columns

Index(['分公司', '店铺名称', '中类', '小类', '货号', '货品名称', '尺码', '季节', '波段', '首销日', '首销月',
       '首销季节', '首销年', '销量', '销额', '商品年份-2015', '商品年份-2016', '商品年份-2017',
       '商品年份-2018', '商品年份-2019', '商品年份-2015-销量', '商品年份-2015-销额',
       '商品年份-2016-销量', '商品年份-2016-销额', '商品年份-2017-销量', '商品年份-2017-销额',
       '商品年份-2018-销量', '商品年份-2018-销额', '商品年份-2019-销量', '商品年份-2019-销额'],
      dtype='object')

In [242]:
cols = df0.columns[20:]

In [243]:
df0.columns[20:]

Index(['商品年份-2015-销量', '商品年份-2015-销额', '商品年份-2016-销量', '商品年份-2016-销额',
       '商品年份-2017-销量', '商品年份-2017-销额', '商品年份-2018-销量', '商品年份-2018-销额',
       '商品年份-2019-销量', '商品年份-2019-销额'],
      dtype='object')

In [201]:
df0.to_csv("中类data.csv",index = False)

In [247]:
df1 = df0.groupby(["分公司","中类","小类","季节","首销月"])[cols].sum()#.reset_index()

In [262]:
df1.head()

,分公司,中类,小类,季节,首销月,商品年份-2015-销量,商品年份-2015-销额,商品年份-2016-销量,商品年份-2016-销额,商品年份-2017-销量,商品年份-2017-销额,商品年份-2018-销量,商品年份-2018-销额,商品年份-2019-销量,商品年份-2019-销额
0,华中1分公司,T恤,中袖T恤,夏,2,0.0,0.0,0.0,0.0,8.0,1192.00,0.0,0.0,0.0,0.0
1,华中1分公司,T恤,中袖T恤,夏,3,0.0,0.0,0.0,0.0,549.0,73550.71,0.0,0.0,0.0,0.0
2,华中1分公司,T恤,中袖T恤,夏,4,0.0,0.0,0.0,0.0,285.0,32436.10,0.0,0.0,0.0,0.0
3,华中1分公司,T恤,中袖T恤,夏,5,0.0,0.0,0.0,0.0,106.0,6612.78,0.0,0.0,0.0,0.0
4,华中1分公司,T恤,中袖T恤,夏,6,0.0,0.0,0.0,0.0,14.0,638.00,0.0,0.0,0.0,0.0

In [249]:
df1 = df1.reset_index()
df1.to_csv("中类data训练数据.csv",index = False)

In [261]:
df1 = pd.read_csv("中类data训练数据.csv")

In [263]:
df1["商品年份-2019-销量-同比"]=df1.apply(lambda x: train_predict([[16],[17],[18]],[ x["商品年份-"+str(i)+"-销量"] for i in [2016,2017,2018]])[0],axis = 1)

In [264]:
df1["商品年份-2019-销额-同比"]=df1.apply(lambda x: train_predict([[16],[17],[18]],[ x["商品年份-"+str(i)+"-销额"] for i in [2016,2017,2018]])[0],axis = 1)

In [265]:
df1.head()

,分公司,中类,小类,季节,首销月,商品年份-2015-销量,商品年份-2015-销额,商品年份-2016-销量,商品年份-2016-销额,商品年份-2017-销量,商品年份-2017-销额,商品年份-2018-销量,商品年份-2018-销额,商品年份-2019-销量,商品年份-2019-销额,商品年份-2019-销量-同比,商品年份-2019-销额-同比
0,华中1分公司,T恤,中袖T恤,夏,2,0.0,0.0,0.0,0.0,8.0,1192.00,0.0,0.0,0.0,0.0,2.666667,397.333333
1,华中1分公司,T恤,中袖T恤,夏,3,0.0,0.0,0.0,0.0,549.0,73550.71,0.0,0.0,0.0,0.0,183.000000,24516.903333
2,华中1分公司,T恤,中袖T恤,夏,4,0.0,0.0,0.0,0.0,285.0,32436.10,0.0,0.0,0.0,0.0,95.000000,10812.033333
3,华中1分公司,T恤,中袖T恤,夏,5,0.0,0.0,0.0,0.0,106.0,6612.78,0.0,0.0,0.0,0.0,35.333333,2204.260000
4,华中1分公司,T恤,中袖T恤,夏,6,0.0,0.0,0.0,0.0,14.0,638.00,0.0,0.0,0.0,0.0,4.666667,212.666667

In [293]:
df1["2019-销量-相对误差"]=(df1["商品年份-2019-销量"]-df1["商品年份-2019-销量-同比"])/(df1["商品年份-2019-销量-同比"]+0.001)

In [294]:
df1["2019-销额-相对误差"]=(df1["商品年份-2019-销额"]-df1["商品年份-2019-销额-同比"])/(df1["商品年份-2019-销额-同比"]+0.01)

In [295]:
def Ringratio(df):
    n = df.shape[0]
    if n>1:
        df.loc[1:,"商品年份-2019-销额-环比修正项"]=df.loc[:n-1,"2019-销额-相对误差"]*df.loc[:n-1,"商品年份-2019-销额-同比"]*0.5
        df.loc[1:,"商品年份-2019-销量-环比修正项"]=df.loc[:n-1,"2019-销量-相对误差"]*df.loc[:n-1,"商品年份-2019-销量-同比"]*0.5
    return df

In [296]:
df1["商品年份-2019-销额-环比修正项"]=0
df1["商品年份-2019-销量-环比修正项"]=0

In [297]:
df2 = df1.groupby(["分公司","中类","小类","季节"]).apply(Ringratio)

In [301]:
(abs(df2["2019-销量-相对误差"])>1.1).value_counts()

False    9005
True      295
Name: 2019-销量-相对误差, dtype: int64

In [298]:
df2.head()

,分公司,中类,小类,季节,首销月,商品年份-2015-销量,商品年份-2015-销额,商品年份-2016-销量,商品年份-2016-销额,商品年份-2017-销量,...,商品年份-2018-销量,商品年份-2018-销额,商品年份-2019-销量,商品年份-2019-销额,商品年份-2019-销量-同比,商品年份-2019-销额-同比,2019-销量-相对误差,2019-销额-相对误差,商品年份-2019-销额-环比修正项,商品年份-2019-销量-环比修正项
0,华中1分公司,T恤,中袖T恤,夏,2,0.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,2.666667,397.333333,-0.999625,-0.999975,0.000000,0.000000
1,华中1分公司,T恤,中袖T恤,夏,3,0.0,0.0,0.0,0.0,549.0,...,0.0,0.0,0.0,0.0,183.000000,24516.903333,-0.999995,-1.000000,-12258.446667,-91.499500
2,华中1分公司,T恤,中袖T恤,夏,4,0.0,0.0,0.0,0.0,285.0,...,0.0,0.0,0.0,0.0,95.000000,10812.033333,-0.999989,-0.999999,-5406.011667,-47.499500
3,华中1分公司,T恤,中袖T恤,夏,5,0.0,0.0,0.0,0.0,106.0,...,0.0,0.0,0.0,0.0,35.333333,2204.260000,-0.999972,-0.999995,-1102.125000,-17.666167
4,华中1分公司,T恤,中袖T恤,夏,6,0.0,0.0,0.0,0.0,14.0,...,0.0,0.0,0.0,0.0,4.666667,212.666667,-0.999786,-0.999953,-106.328334,-2.332833

In [302]:
df2["商品年份-2019-销额-环比修正后"]=df2["商品年份-2019-销额-同比"]+df2["商品年份-2019-销额-环比修正项"]
df2["商品年份-2019-销量-环比修正后"]=df2["商品年份-2019-销量-同比"]+df2["商品年份-2019-销量-环比修正项"]

In [305]:
df2.to_csv("货品预测.csv",index = False)